@(natureForm: Form[models.Nature])
@import helper._
@import views.html.app._

@main("Créer une nature") {
    
    @if(natureForm.hasErrors) {
        
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Oops</strong> Please fix all errors
        </div>
    }
    <h1>Créer une nature</h1>
    @helper.form(action = routes.Natures.insert, 'class -> "form form-horizontal") {
        
        <fieldset>
            <div class="control-group">
                    <label class="control-label" for="libelle">Libellé</label>
                    <div class="controls">
                        <input type="text" name="libelle" id="libelle" value="" placeholder="Libellé"> <span style="color:#B94A48">@if(natureForm.hasErrors) { @natureForm.error("libelle").message() }</span>
                    </div>
            </div>
            <div class="control-group">
                    <label class="control-label" for="aide">Aide</label>
                    <div class="controls">
                        <textarea name="aide" id="aide" rows="5"></textarea>
                    </div>
            </div>
            <div class="control-group">
                    <label class="control-label" for="reference">Référence</label>
                    <div class="controls">
                        <textarea name="reference" id="reference" rows="5"></textarea>
                    </div>
            </div>
            <div class="control-group">
                    <label class="control-label" for="difficulte">Difficulté</label>
                    <div class="controls">
                        <input type="text" size="2" name="difficulte" id="difficulte" value="" placeholder="Difficulté">
                        <span style="color:#B94A48">@if(natureForm.hasErrors) { @natureForm.error("difficulte").message() }</span>
                    </div>
            </div>
             <div class="control-group">
                <div class="controls">
                    <input type="submit" class="btn btn-primary" value="Créer">
                    <a href="@routes.Natures.index" class="btn">Annuler</a>
                </div>
            </div>
        </fieldset>
    }
}