@(natureForm: Form[models.Nature])
@import helper._
@import views.html.app._

@main("Editer la nature "+natureForm.get().getLibelle()) {
    
    @if(natureForm.hasErrors) {
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Oops</strong> Please fix all errors
        </div>
    }
    @if(flash.get("success")) {
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            @flash.get("success")
        </div>
    }
    <h1>Editer la nature @natureForm.get().getLibelle()</h1>
    @helper.form(action = routes.Natures.update(natureForm.get().getID()), 'class -> "form form-horizontal") {
        
        <fieldset>
            <div class="control-group">
                    <label class="control-label" for="libelle">Libellé</label>
                    <div class="controls">
                        <input type="text" name="libelle" id="libelle" value="@natureForm.get().getLibelle()" placeholder="Libellé"><span style="color:#B94A48">@if(natureForm.hasErrors) { @natureForm.error("libelle").message() }</span>
                    </div>
            </div>
            <div class="control-group">
                    <label class="control-label" for="aide">Aide</label>
                    <div class="controls">
                        <textarea name="aide" id="aide" rows="5">@natureForm.get().getAide()</textarea>
                    </div>
            </div>
            <div class="control-group">
                    <label class="control-label" for="reference">Référence</label>
                    <div class="controls">
                        <textarea name="reference" id="reference" rows="5">@natureForm.get().getReference()</textarea>
                    </div>
            </div>
            <div class="control-group">
                    <label class="control-label" for="difficulte">Difficulté</label>
                    <div class="controls">
                        <input type="text" size="2" name="difficulte" id="difficulte" value="@natureForm.get().getDifficulte()" placeholder="Difficulté">
                        <span style="color:#B94A48">@if(natureForm.hasErrors) { @natureForm.error("difficulte").message() }</span>
                    </div>
            </div>
            <input type="hidden" name="id" value="@natureForm.get().getID()"></hidden>
             <div class="control-group">
                <div class="controls">
                    <input type="submit" class="btn btn-primary" value="Modifier">
                    <a href="@routes.Natures.index" class="btn">Annuler</a>
                </div>
            </div>
        </fieldset>
    }
}