@(natures: java.util.List[models.Nature])
@import views.html.app._

@scripts = {
	<script type="text/javascript">
		$('.supprimer').click(function(event) {
			if(!confirm("Etes-vous sûr de supprimer cette nature ?"))
				return false;
		});
	</script>
}

@main("Liste des natures", scripts) {

	@if(flash.get("success")) {
		<div class="alert alert-success">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			@flash.get("success")
		</div>
	}

	<h1>Liste des natures</h1>
	<table class="table table-hover table-striped table-bordered">
		<thead>
			<tr>
				<th>Libellé</th>
				<th>Aide</th>
				<th>Référence</th>
				<th>Difficulté</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			@for(nature <- natures) {
				<tr>
					<td>@nature.getLibelle()</td>
					<td>@nature.getAide()</td>
					<td>@nature.getReference()</td>
					<td>@nature.getDifficulte()</td>
					<td>
						<a href="/nature/editer/@nature.getID()">Editer</a> |
						<a href="/nature/supprimer/@nature.getID()" class="supprimer">Supprimer</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
	<a class="btn btn-primary" href="/nature/creer">Créer</a>
}	