@(ebs: java.util.List[models.ElementBase], natures: java.util.List[models.Nature],elementForm: Form[models.Element])
@import helper._
@import views.html.app._

@main("Créer un élément") {
    
    @if(elementForm.hasErrors) {
        <div class="alert-message error">
            <p><strong>Oops</strong> Please fix all errors</p>
        </div>
    }
    <h1>Créer un élément</h1>
    @helper.form(action = routes.Elements.insert, 'class -> "form form-horizontal") {
        
        <fieldset>
            <div class="control-group">
                <label for="parent_ID">Parent : </label>
                <div class="controls">
                    <select name="parent_ID">
                    @for(eb <- ebs) {
                        <option value="@eb.ID">@eb.getLibelle()</option>
                    }

                    </select>
                </div>
            </div>
            <div class="control-group">
                <label for="nature1_ID">Nature 1 : </label>
                <div class="controls">
                    <select name="nature1_ID">
                    @for(nature <- natures) {
                        <option value="@nature.ID">@nature.getLibelle()</option>
                    }

                    </select>
                </div>
            </div>
            <div class="control-group">
                <label for="nature2_ID">Nature 2 : </label>
                <div class="controls">
                    <select name="nature2_ID">
                        @for(nature <- natures) {
                        <option value="@nature.ID">@nature.getLibelle()</option>
                    }

                    </select>
                </div>
            </div>
            <div class="control-group">
                    <label class="control-label" for="libelle">Libellé</label>
                    <div class="controls">
                        <input type="text" name="libelle" id="libelle" value="" placeholder="Libellé">
                    </div>
            </div>
            <div class="control-group">
                    <label class="control-label" for="aide">Aide</label>
                    <div class="controls">
                        <textarea name="aide" id="aide" rows="5"></textarea>
                    </div>
            </div>
            <div class="control-group">
                    <label class="control-label" for="reference">Référence</label>
                    <div class="controls">
                        <textarea name="reference" id="reference" rows="5"></textarea>
                    </div>
            </div>
            <div class="control-group">
                    <label class="control-label" for="url_image">Url de l'image</label>
                    <div class="controls">
                        <input type="text" name="url_image" id="url_image" value="" placeholder="url_image"> 
                       
                    </div>
            </div>
             <div class="control-group">
                <div class="controls">
                    <input type="submit" class="btn btn-primary" value="Créer">
                    <a href="@routes.Natures.index" class="btn">Annuler</a>
                </div>
            </div>
        </fieldset>
    }
}