@(ebs: java.util.List[models.ElementBase], natures: java.util.List[models.Nature],elementForm: Form[models.Element])
@import helper._
@import views.html.app._

@main("Editer l'élément "+elementForm.get().getLibelle()) {
    @if(elementForm.hasGlobalErrors) {        <small class="error">          @elementForm.globalError.message()        </small>}
   
    <h1>Editer l'élément @elementForm.get().getLibelle()</h1>
    @helper.form(action = routes.Elements.update(elementForm.get().getID()), 'class -> "form form-horizontal") {
        
        <fieldset>
            <div class="control-group">
                    <label class="control-label" for="parent_ID">Parent</label>
                    <div class="controls">
                        <select name="parent_ID">
                                @for(eb <- ebs) {
                                   
                                        <option value="@elementForm.get().parent_ID"  @if(eb.ID==elementForm.get().parent_ID){ selected="selected" }>@eb.getLibelle()</option>
                                    
                                }

                    </select>
                   
                    </div>
            </div>
             <div class="control-group">
                    <label class="control-label" for="nature1_ID">Nature 1</label>
                    <div class="controls">
                         <select name="nature1_ID">
                                @for(nature <- natures) {
                                    
                                        <option value="@elementForm.get().getNature1_ID()" @if(nature.ID==elementForm.get().getNature1_ID()){ selected="selected" }>@nature.getLibelle()</option>
                                   
                                    
                                }

                    </select>
                    </div>
            </div>
            <div class="control-group">
                    <label class="control-label" for="nature2_ID">Nature 2</label>
                    <div class="controls">
                       <select name="nature2_ID">
                                @for(nature <- natures) {
                                   
                                        <option value="@elementForm.get().getNature2_ID()"  @if(nature.ID==elementForm.get().getNature2_ID()){ selected="selected" }>@nature.getLibelle()</option>
                                    
                                    
                                }

                    </select>
                    </div>
            </div>
            <div class="control-group">
                    <label class="control-label" for="libelle">Libellé</label>
                    <div class="controls">
                        <input type="text" name="libelle" id="libelle" value="@elementForm.get().getLibelle()" placeholder="Libellé">
                    </div>
            </div>
            <div class="control-group">
                    <label class="control-label" for="aide">Aide</label>
                    <div class="controls">
                        <textarea name="aide" id="aide" rows="5">@elementForm.get().getAide()</textarea>
                    </div>
            </div>
            <div class="control-group">
                    <label class="control-label" for="reference">Référence</label>
                    <div class="controls">
                        <textarea name="reference" id="reference" rows="5">@elementForm.get().getReference()</textarea>
                    </div>
            </div>
             <div class="control-group">
                    <label class="control-label" for="url_image">Url de l'image</label>
                    <div class="controls">
                        <input type="text" size="20" name="url_image" id="urlimage" value="@elementForm.get().getUrl_image()" placeholder="urlimage">
                        @if(elementForm.hasErrors){ @elementForm.error("url_image").message() } 
                    </div>
                     
            </div>
            <input type="hidden" name="id" value="@elementForm.get().getID()"></hidden>
             <div class="control-group">
                <div class="controls">
                    <input type="submit" class="btn btn-primary" value="Modifier">
                    <a href="@routes.Natures.index" class="btn">Annuler</a>
                </div>
            </div>
        </fieldset>

    }
}