@(elements: java.util.List[models.Element])
@import views.html.app._

@main("Liste des éléments") {

	<h1>Liste des éléments</h1>
	<table class="table table-hover table-striped table-bordered">
		<thead>
			<tr>
				<th>Parent ID</th>
				<th>Nature 1</th>
				<th>Nature 2</th>
				<th>Libellé</th>
				<th>Aide</th>
				<th>Référence</th>
				<th>Image</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			@for(element <- elements) {
				<tr>
					<td>@element.getParent_ID()</td>
					<td>@models.Nature.byId(element.getNature1_ID()).getLibelle()</td>
					<td>@models.Nature.byId(element.getNature2_ID()).getLibelle()</td>
					<td>@element.getLibelle()</td>
					<td>@element.getAide()</td>
					<td>@element.getReference()</td>
					<td><img src="@element.getUrl_image()" alt="@element.getUrl_image()" /></td>
					<td>
						<a href="/element/editer/@element.getID()">Editer</a> |
						<a href="/element/supprimer/@element.getID()">Supprimer</a>|
						<a href="/element/show/@element.getID()">Détails</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
	<a class="btn btn-primary" href="/element/creer">Créer</a>
}	