@(userForm: Form[models.Login])
@import helper._

@import views.html.app._

@main("Login Backend MTC") {
    @if(userForm.hasGlobalErrors) {
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            @userForm.globalError.message
        </div>
    }

    @helper.form(action =  routes.Application.authenticate, 'class -> "form form-horizontal") {
        <h1>Se connecter</h1>
        <div class="control-group">
            <label class="control-label" for="username">Nom d'utilisateur : </label>
            <div class="controls">
                 <input type="text" name="username" placeholder="Nom d'utilisateur">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="parent">Mot de passe : </label>
            <div class="controls">
                 <input type="password" name="password" placeholder="Mot de passe">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">Se connecter</button>
            </div>
        </div>
    }
}   